<div class="full-page-container">
  <p-toast></p-toast>
  <p-fileUpload
    name="myfile[]"
    [url]="'http://localhost:8080/api/files/upload-chunk'"
    [multiple]="true"
    accept=".csv"
    (onSelect)="onFileSelect($event)"
    (onClear)="onClearFiles()"
    [auto]="false"
    #fileUploadComponent
  >
    <ng-template
      pTemplate="header"
      let-files
      let-chooseCallback="chooseCallback"
      let-clearCallback="clearCallback"
      let-uploadCallback="uploadCallback"
    >
      <div
        class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2"
      >
        <div class="flex gap-2">
          <p-button
            (onClick)="chooseCallback()"
            icon="pi pi-images"
            label="Choose"
            [rounded]="true"
            [outlined]="true"
          ></p-button>
          <p-button
            (onClick)="uploadFiles()"
            icon="pi pi-cloud-upload"
            label="Upload"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            [disabled]="uploadedFiles.length === 0"
          ></p-button>
          <p-button
            (onClick)="clearFiles()"
            icon="pi pi-times"
            label="Clear"
            [rounded]="true"
            [outlined]="true"
            severity="danger"
            [disabled]="uploadedFiles.length === 0"
          ></p-button>
        </div>
        <p-progressBar
          *ngIf="totalSizePercent > 0"
          [value]="totalSizePercent"
          [showValue]="false"
          styleClass="md:w-20rem h-1rem w-full md:ml-auto"
          [ngClass]="{ 'exceeded-progress-bar': totalSizePercent > 100 }"
        >
          <span class="white-space-nowrap"
            >{{ formatSize(totalSize) }} / {{ formatSize(maxFileSize) }}</span
          >
        </p-progressBar>
        <p *ngIf="totalSizePercent > 0 && eta">
          Estimated time remaining: {{ eta }}
        </p>
      </div>
    </ng-template>
    <ng-template pTemplate="empty">
      <div class="flex align-items-center justify-content-center flex-column">
        <i
          class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"
        ></i>
        <p class="mt-4 mb-0">Drag and drop files to here to upload.</p>
      </div>
    </ng-template>
  </p-fileUpload>

  <h5>Uploaded Files</h5>
  <ul>
    <li *ngFor="let file of uploadedFilesList">
      {{ file }}
    </li>
  </ul>
</div>
